<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" href="https://unpkg.com/7.css">
    <link rel="stylesheet" href="{% static 'css/room.css' %}?v=1">
</head>
<body>
    <div class="container">
        <div class="video-container">
            <div class="video-wrapper">

                <div class="glass window active" style="max-width: 300px">
                    <div class="title-bar">
                        <div class="title-bar-text">You</div>
                        <div class="title-bar-controls">
                        <button aria-label="Minimize"></button>
                        <button aria-label="Maximize"></button>
                        <button aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="window-body">
                        <video id="local-video" autoplay playsinline muted></video>
                    </div>
                </div>  

            </div>

        </div>
             <div class="video-wrapper">

                <div class="glass window active" style="max-width: 300px">
                    <div class="title-bar">
                        <div class="title-bar-text">Stranger</div>
                        <div class="title-bar-controls">
                        <button aria-label="Minimize"></button>
                        <button aria-label="Maximize"></button>
                        <button aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="window-body">
                        <video id="remote-video" autoplay playsinline muted></video>
                    </div>
                </div> 

            </div>           
    </div>
    <div class="window glass active" style="max-width: 300px">
        <div class="title-bar">
            <div class="title-bar-text">Chat</div>
            <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body has-space">
        <!-- CHAT LOG -->
        <textarea id="chat-log"></textarea><br/>
        
        <div class="input-area">
            <input id="chat-message-input" type="text"/><br/>
            <input id="chat-message-submit" type="button" value="Send"/>
            {{ room_name|json_script:"room-name" }}
        </div>

    </div>

    <script type="text/javascript" src="{% static 'js/main.js' %}?v=5"></script>
</body>
</html>
