{% load static %}

<link
    rel="stylesheet"
    href="{% static 'profile/css/profile_card.css' %}?v=25"
>

<div class="profile-card">

    <div
        id="profile-preview-banner"
        class="profile-banner"
        style="background-color: {{ request.user.profile.banner_color|default:'#000000' }};{% if request.user.profile.banner_key %} background-image: url('{{ request.user.profile.banner_url_sm }}'); background-size: cover; background-position: center;{% endif %}"
    >
        <div class="profile-edit-overlay">
            <img class="profile-edit-pencil" src="{% static '/profile/image/edit-icon.png' %}" alt="Edit Banner" title="Edit Banner">
        </div>
    </div>
    <div class="profile-avatar-container">

        <div id="profile-avatar-wrapper" class="profile-avatar-wrapper {{ request.user.profile.avatar_shape|default:'square' }}">

            <img
                id="profile-preview-avatar"
                class="profile-avatar {{ request.user.profile.avatar_shape|default:'square' }}"
                src="{{ request.user.profile.avatar_url_64 }}"
                alt="Avatar"
            >

            <div class="profile-avatar-edit-overlay">
                <img class="profile-edit-pencil" src="{% static '/profile/image/edit-icon.png' %}" alt="Edit Avatar" title="Edit Avatar">
            </div>

            <!-- Status Badge anchored to the bottom right corner -->
            <div
                id="profile-preview-status-badge"
                class="profile-status-badge"
                {% if not request.user.profile.show_status_badge %}style="display: none;"{% endif %}
            >
                <img
                    id="profile-preview-status-icon"
                    class="status-badge-icon"
                    src="{{ request.user.profile.status_icon_url }}"
                    alt="{{ request.user.profile.get_status_preference_display }}"
                    title="{{ request.user.profile.get_status_preference_display }}"
                >
            </div>

        </div>

    </div>

    <div class="profile-content">

        <div
            id="profile-preview-display-name"
            class="profile-display-name"
        >
            {{ request.user.profile.effective_display_name }}
        </div>

        <div class="profile-user-row">
            <span
                id="profile-preview-username"
                class="profile-username"
            >
                @{{ request.user.username }}
            </span>

            <span
                id="profile-preview-pronouns"
                class="profile-pronouns"
                {% if not request.user.profile.pronouns %}style="display: none;"{% endif %}
            >
                {{ request.user.profile.pronouns }}
            </span>
        </div>

        <div
            id="profile-preview-bio"
            class="profile-bio"
        >
            {{ request.user.profile.bio }}
        </div>

    </div>

</div>