/* Styles for room.html */
* {
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
}
body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #c0c0c0; /* Windows 98 background color */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    min-height: 100vh;
}

#chat-log {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    padding: 5px;
    border: inset 2px;
    resize: none;
}

.input-area {
    display: flex;
    gap: 8px;
    width: 100%;
}
#chat-message-input {
    flex-grow: 1;
    width: auto;
    margin-right: 0;
}

#chat-message-submit {
  
}
