/* Styles for room.html */
* {
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
}
body {
    font-family: sans-serif;
    padding: 20px;
    background-image: url('/static/image/bliss.jpg');
    background-size: cover; /* This will make the image cover the entire background */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    min-height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}


.video-wrapper video {
    width: 100%;
    height: auto;
    display: block;
}

#chat-log {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    padding: 5px;
    border: inset 2px;
    resize: none;
}

.input-area {
    display: flex;
    gap: 8px;
    width: 100%;
}
#chat-message-input {
    flex-grow: 1;
    width: auto;
    margin-right: 0;
}

#chat-message-submit {
  
}
